<a href="https://colab.research.google.com/github/eckoecho/CodingDojo/blob/EDA/Simple_Imputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [152]:
#Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer 
pd.set_option("display.max_columns", 100)

In [153]:
#Load our data
fpath="/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week05/Data/ames-housing-dojo-for-ml.csv"
df = pd.read_csv(fpath)
df.head()

,PID,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Utilities,Neighborhood,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remodeled,Exter Qual,Exter Cond,Bsmt Unf Sqft,Total Bsmnt Sqft,Central Air,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Type,Garage Yr Blt,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Fence,SalePrice,Month,Year,Total Full Baths,Total Half Baths
0,907227090,RL,60.0,7200,Pave,NaN,AllPub,CollgCr,1Fam,1Story,5,8,1972,1972,TA,TA,427.0,864.0,Y,864.0,3,1,5,Detchd,1977.0,1.0,297.0,TA,TA,Y,MnPrv,119900.0,3,2006,1.0,0.0
1,527108010,RL,134.0,19378,Pave,NaN,AllPub,Gilbert,1Fam,2Story,7,5,2005,2006,Gd,TA,1335.0,1392.0,Y,2462.0,4,1,9,Attchd,2006.0,2.0,576.0,TA,TA,Y,NaN,320000.0,3,2006,3.0,1.0
2,534275170,RL,NaN,12772,Pave,NaN,AllPub,NAmes,1Fam,1Story,6,8,1960,1998,TA,Gd,460.0,958.0,Y,958.0,2,1,5,Attchd,1960.0,1.0,301.0,TA,TA,Y,NaN,151500.0,4,2007,1.0,0.0
3,528104050,RL,114.0,14803,Pave,NaN,AllPub,NridgHt,1Fam,1Story,10,5,2007,2008,Ex,TA,442.0,2078.0,Y,2084.0,2,1,7,Attchd,2007.0,3.0,1220.0,TA,TA,Y,NaN,385000.0,6,2008,3.0,0.0
4,533206070,FV,32.0,3784,Pave,Pave,AllPub,Somerst,TwnhsE,1Story,8,5,2006,2007,Gd,TA,1451.0,1511.0,Y,1565.0,2,1,5,Attchd,2006.0,2.0,476.0,TA,TA,Y,NaN,193800.0,2,2007,3.0,0.0

In [154]:
#Setting PID as index
df = df.set_index("PID")
df.head()

,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Utilities,Neighborhood,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remodeled,Exter Qual,Exter Cond,Bsmt Unf Sqft,Total Bsmnt Sqft,Central Air,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Type,Garage Yr Blt,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Fence,SalePrice,Month,Year,Total Full Baths,Total Half Baths
PID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
907227090,RL,60.0,7200,Pave,NaN,AllPub,CollgCr,1Fam,1Story,5,8,1972,1972,TA,TA,427.0,864.0,Y,864.0,3,1,5,Detchd,1977.0,1.0,297.0,TA,TA,Y,MnPrv,119900.0,3,2006,1.0,0.0
527108010,RL,134.0,19378,Pave,NaN,AllPub,Gilbert,1Fam,2Story,7,5,2005,2006,Gd,TA,1335.0,1392.0,Y,2462.0,4,1,9,Attchd,2006.0,2.0,576.0,TA,TA,Y,NaN,320000.0,3,2006,3.0,1.0
534275170,RL,NaN,12772,Pave,NaN,AllPub,NAmes,1Fam,1Story,6,8,1960,1998,TA,Gd,460.0,958.0,Y,958.0,2,1,5,Attchd,1960.0,1.0,301.0,TA,TA,Y,NaN,151500.0,4,2007,1.0,0.0
528104050,RL,114.0,14803,Pave,NaN,AllPub,NridgHt,1Fam,1Story,10,5,2007,2008,Ex,TA,442.0,2078.0,Y,2084.0,2,1,7,Attchd,2007.0,3.0,1220.0,TA,TA,Y,NaN,385000.0,6,2008,3.0,0.0
533206070,FV,32.0,3784,Pave,Pave,AllPub,Somerst,TwnhsE,1Story,8,5,2006,2007,Gd,TA,1451.0,1511.0,Y,1565.0,2,1,5,Attchd,2006.0,2.0,476.0,TA,TA,Y,NaN,193800.0,2,2007,3.0,0.0

### Define X and y

In [155]:
# The target we are trying to predict
y = df['SalePrice']
# The features we will use to make the prediction
X = df.drop(columns = 'SalePrice')

### Train Test Split

In [156]:
# Train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.head()

,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Utilities,Neighborhood,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remodeled,Exter Qual,Exter Cond,Bsmt Unf Sqft,Total Bsmnt Sqft,Central Air,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Type,Garage Yr Blt,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Fence,Month,Year,Total Full Baths,Total Half Baths
PID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
905475520,RL,NaN,11515,Pave,NaN,AllPub,Edwards,1Fam,1Story,4,5,1958,1994,TA,TA,0.0,0.0,N,943.0,3,1,5,Detchd,1958.0,1.0,308.0,TA,TA,N,NaN,8,2007,1.0,0.0
909254010,RL,53.0,7155,Pave,NaN,AllPub,Crawfor,1Fam,2Story,7,8,1918,1990,TA,TA,600.0,600.0,Y,1228.0,3,1,6,Detchd,1918.0,1.0,215.0,Fa,TA,Y,MnPrv,5,2009,1.0,0.0
531450090,RL,NaN,7153,Pave,NaN,AllPub,SawyerW,1Fam,1Story,6,5,1991,1991,TA,TA,78.0,1278.0,Y,1294.0,3,1,6,Attchd,1991.0,2.0,496.0,TA,TA,Y,GdWo,6,2008,3.0,0.0
903400040,RL,60.0,13515,Pave,Pave,AllPub,BrkSide,1Fam,2Story,6,6,1919,1950,TA,TA,764.0,764.0,Y,1824.0,3,1,8,Detchd,1940.0,2.0,520.0,TA,TA,N,GdPrv,7,2007,1.0,0.0
527107130,RL,60.0,8400,Pave,NaN,AllPub,Gilbert,1Fam,SLvl,7,5,1996,1997,TA,TA,100.0,384.0,Y,1628.0,3,1,7,BuiltIn,1996.0,2.0,390.0,TA,TA,Y,NaN,6,2009,2.0,1.0

## Imputation of Numeric Features with Median

#### 1) Create a list of features

In [157]:
# Get the list of numeric column names 
num_cols = X_train.select_dtypes("number").columns
num_cols

Index(['Lot Frontage', 'Lot Area', 'Overall Qual', 'Overall Cond',
       'Year Built', 'Year Remodeled', 'Bsmt Unf Sqft', 'Total Bsmnt Sqft',
       'Living Area Sqft', 'Bedroom', 'Kitchen', 'Total Rooms',
       'Garage Yr Blt', 'Garage Cars', 'Garage Area', 'Month', 'Year',
       'Total Full Baths', 'Total Half Baths'],
      dtype='object')

#### 2) Instantiate the Imputer

In [158]:
# Instantiate the imputer object from the SimpleImputer class with strategy 'median'
impute_median = SimpleImputer(strategy='median')

#### 3) Fit the Imputer of the Training Data

In [159]:
# Fit the imputer object on the numeric training data with .fit() 
impute_median.fit(X_train[num_cols])

SimpleImputer(strategy='median')

In [160]:
# View the strategy used
impute_median.strategy

'median'

In [161]:
# View the median values calculated during the .fit step
impute_median.statistics_

array([6.800e+01, 9.405e+03, 6.000e+00, 5.000e+00, 1.972e+03, 1.993e+03,
       4.670e+02, 9.820e+02, 1.440e+03, 3.000e+00, 1.000e+00, 6.000e+00,
       1.979e+03, 2.000e+00, 4.740e+02, 6.000e+00, 2.008e+03, 2.000e+00,
       0.000e+00])

In [162]:
# We can confirm that these are indeed the medians
X_train[num_cols].median().values

array([6.800e+01, 9.405e+03, 6.000e+00, 5.000e+00, 1.972e+03, 1.993e+03,
       4.670e+02, 9.820e+02, 1.440e+03, 3.000e+00, 1.000e+00, 6.000e+00,
       1.979e+03, 2.000e+00, 4.740e+02, 6.000e+00, 2.008e+03, 2.000e+00,
       0.000e+00])

#### 4a) Transform the Training Data
Filling in the nulls for X_train set

In [163]:
# Still have null values in numeric columns of **training data
null_count = X_train[num_cols].isna().sum()
null_count[ null_count>0]

Lot Frontage        366
Garage Yr Blt       125
Garage Cars           1
Garage Area           1
Total Full Baths      1
Total Half Baths      3
dtype: int64

In [164]:
# Still have null values in numeric columns of **testing data
null_count = X_test[num_cols].isna().sum()
null_count[ null_count>0]

Lot Frontage        124
Bsmt Unf Sqft         1
Total Bsmnt Sqft      1
Garage Yr Blt        35
Total Full Baths      1
Total Half Baths      2
dtype: int64

To actually alter these values with our imputer, we need to use .transform().

In [165]:
# Still have null values in numeric columns of testing data
null_count = X_test[num_cols].isna().sum()
null_count[ null_count>0]

Lot Frontage        124
Bsmt Unf Sqft         1
Total Bsmnt Sqft      1
Garage Yr Blt        35
Total Full Baths      1
Total Half Baths      2
dtype: int64

In [166]:
# Transform the training data (fill in nulls with median)
X_train_num_imputed = impute_median.transform(X_train[num_cols])
X_train_num_imputed

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remodeled,Bsmt Unf Sqft,Total Bsmnt Sqft,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Yr Blt,Garage Cars,Garage Area,Month,Year,Total Full Baths,Total Half Baths
PID,,,,,,,,,,,,,,,,,,,
905475520,68.0,11515.0,4.0,5.0,1958.0,1994.0,0.0,0.0,943.0,3.0,1.0,5.0,1958.0,1.0,308.0,8.0,2007.0,1.0,0.0
909254010,53.0,7155.0,7.0,8.0,1918.0,1990.0,600.0,600.0,1228.0,3.0,1.0,6.0,1918.0,1.0,215.0,5.0,2009.0,1.0,0.0
531450090,68.0,7153.0,6.0,5.0,1991.0,1991.0,78.0,1278.0,1294.0,3.0,1.0,6.0,1991.0,2.0,496.0,6.0,2008.0,3.0,0.0
903400040,60.0,13515.0,6.0,6.0,1919.0,1950.0,764.0,764.0,1824.0,3.0,1.0,8.0,1940.0,2.0,520.0,7.0,2007.0,1.0,0.0
527107130,60.0,8400.0,7.0,5.0,1996.0,1997.0,100.0,384.0,1628.0,3.0,1.0,7.0,1996.0,2.0,390.0,6.0,2009.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527402220,68.0,8750.0,5.0,6.0,1970.0,1970.0,174.0,1002.0,1002.0,3.0,1.0,5.0,1973.0,2.0,902.0,8.0,2009.0,2.0,0.0
528435030,78.0,9262.0,8.0,5.0,2008.0,2009.0,1573.0,1573.0,1578.0,3.0,1.0,7.0,2008.0,3.0,840.0,5.0,2009.0,2.0,0.0
528218090,63.0,10928.0,7.0,5.0,2005.0,2005.0,728.0,728.0,1456.0,3.0,1.0,8.0,2005.0,2.0,390.0,6.0,2009.0,2.0,1.0
535353130,68.0,15783.0,5.0,5.0,1952.0,1952.0,632.0,924.0,924.0,2.0,1.0,6.0,1952.0,1.0,420.0,6.0,2007.0,1.0,0.0
909131170,68.0,12155.0,6.0,8.0,1925.0,1950.0,516.0,672.0,1482.0,4.0,1.0,7.0,1934.0,1.0,400.0,3.0,2008.0,2.0,0.0

Notice that the imputer returned an array of values, not a DataFrame.

In [167]:
# Change settings to ouput a dataframe
from sklearn import set_config
set_config(transform_output='pandas')

In [168]:
# Transform the training data (fill in nulls with median)
# Transform the training data (fill in nulls with median)
X_train_num_imputed = impute_median.transform(X_train[num_cols])
X_train_num_imputed.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remodeled,Bsmt Unf Sqft,Total Bsmnt Sqft,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Yr Blt,Garage Cars,Garage Area,Month,Year,Total Full Baths,Total Half Baths
PID,,,,,,,,,,,,,,,,,,,
905475520,68.0,11515.0,4.0,5.0,1958.0,1994.0,0.0,0.0,943.0,3.0,1.0,5.0,1958.0,1.0,308.0,8.0,2007.0,1.0,0.0
909254010,53.0,7155.0,7.0,8.0,1918.0,1990.0,600.0,600.0,1228.0,3.0,1.0,6.0,1918.0,1.0,215.0,5.0,2009.0,1.0,0.0
531450090,68.0,7153.0,6.0,5.0,1991.0,1991.0,78.0,1278.0,1294.0,3.0,1.0,6.0,1991.0,2.0,496.0,6.0,2008.0,3.0,0.0
903400040,60.0,13515.0,6.0,6.0,1919.0,1950.0,764.0,764.0,1824.0,3.0,1.0,8.0,1940.0,2.0,520.0,7.0,2007.0,1.0,0.0
527107130,60.0,8400.0,7.0,5.0,1996.0,1997.0,100.0,384.0,1628.0,3.0,1.0,7.0,1996.0,2.0,390.0,6.0,2009.0,2.0,1.0

In [171]:
# Check for null values in numeric columns of trainingset
X_train[num_cols].isna().sum().sum()

Lot Frontage        366
Lot Area              0
Overall Qual          0
Overall Cond          0
Year Built            0
Year Remodeled        0
Bsmt Unf Sqft         0
Total Bsmnt Sqft      0
Living Area Sqft      0
Bedroom               0
Kitchen               0
Total Rooms           0
Garage Yr Blt       125
Garage Cars           1
Garage Area           1
Month                 0
Year                  0
Total Full Baths      1
Total Half Baths      3
dtype: int64

#### 4b) Transform the Test Data

In [170]:
# Check for null values in numeric columns of test set
X_test[num_cols].isna().sum().sum()

164

In [173]:
# Transform the testing data (fill in nulls with median from training data)
X_test_num_imputed = impute_median.transform(X_test[num_cols])
X_train_num_imputed.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remodeled,Bsmt Unf Sqft,Total Bsmnt Sqft,Living Area Sqft,Bedroom,Kitchen,Total Rooms,Garage Yr Blt,Garage Cars,Garage Area,Month,Year,Total Full Baths,Total Half Baths
PID,,,,,,,,,,,,,,,,,,,
905475520,68.0,11515.0,4.0,5.0,1958.0,1994.0,0.0,0.0,943.0,3.0,1.0,5.0,1958.0,1.0,308.0,8.0,2007.0,1.0,0.0
909254010,53.0,7155.0,7.0,8.0,1918.0,1990.0,600.0,600.0,1228.0,3.0,1.0,6.0,1918.0,1.0,215.0,5.0,2009.0,1.0,0.0
531450090,68.0,7153.0,6.0,5.0,1991.0,1991.0,78.0,1278.0,1294.0,3.0,1.0,6.0,1991.0,2.0,496.0,6.0,2008.0,3.0,0.0
903400040,60.0,13515.0,6.0,6.0,1919.0,1950.0,764.0,764.0,1824.0,3.0,1.0,8.0,1940.0,2.0,520.0,7.0,2007.0,1.0,0.0
527107130,60.0,8400.0,7.0,5.0,1996.0,1997.0,100.0,384.0,1628.0,3.0,1.0,7.0,1996.0,2.0,390.0,6.0,2009.0,2.0,1.0

#### Putting it All Together

In [174]:
# Define the list of features for this strategy
num_cols = X_train.select_dtypes("number").columns
# Instantiate the imputer object from the SimpleImputer class with strategy 'median'
impute_median = SimpleImputer(strategy='median')
# Fit the imputer object on the numeric training data with .fit() 
impute_median.fit(X_train[num_cols])
# Transform the training data
X_train_num_imputed = impute_median.transform(X_train[num_cols])
# Transfrom the testing data
X_test_num_imputed = impute_median.transform(X_test[num_cols])

## Imputation of Categorical and Ordinal Features with Placeholder

#### 1) Define the List of Features

In [176]:
# Get the list of categorical and ordinal column names 
cat_cols = df.select_dtypes('object').columns
cat_cols

Index(['MS Zoning', 'Street', 'Alley', 'Utilities', 'Neighborhood',
       'Bldg Type', 'House Style', 'Exter Qual', 'Exter Cond', 'Central Air',
       'Garage Type', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Fence'],
      dtype='object')

#### 2) Instantiate the Imputer

In [178]:
# Instantiate the new imputer
impute_na = SimpleImputer(strategy="constant", fill_value="NA")

#### 3) Fit the Imputer on the Training Data

In [179]:
# Fit the imputer on the training data
impute_na.fit(X_train[cat_cols])

SimpleImputer(fill_value='NA', strategy='constant')

#### 4a) Transform the Training Data

In [180]:
# Check for missing values in cat columns
X_train[cat_cols].isna().sum().sum()

4194

In [181]:
# Transform the categorical training data
X_train_cat_imputed = impute_na.transform(X_train[cat_cols])

In [182]:
# Confirm that all null vales in cat columns are filled in training set
X_train_cat_imputed.isna().sum().sum()

0

#### 4b) Transform the Testing Data

In [183]:
# Transform the categorical testing data
X_test_cat_imputed = impute_na.transform(X_test[cat_cols])

In [184]:
# Confirm all missing values in test set are filled
X_test_cat_imputed.isna().sum().sum()

0

#### Putting it All Together

In [186]:
# Define list of features for this strategy
cat_cols = df.select_dtypes("object").columns
# Instantiate the imputer with the desired strategy
impute_na = SimpleImputer(strategy="constant", fill_value="NA")
# Fit the imputer object on the training data with .fit
impute_na.fit(X_train[cat_cols])
# Transform the categorical training data
X_train_cat_imputed = impute_na.transform(X_train[cat_cols])
X_test_cat_imputed = impute_na.transform(X_test[cat_cols])

In [187]:
#Checking to see if X_train categories nulls have been filled
X_train_cat_imputed.isna().sum().sum()

0

In [188]:
#Checking to see if X_train categories nulls have been filled
X_test_cat_imputed.isna().sum().sum()

0